@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("SF-Pro-Text-Regular.otf") format("otf");
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url("SF-Pro-Text-Bold.otf") format("otf");
}